 @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@200;300;400;500;900&family=Poppins:wght@200;300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: DM Sans;
}
.row {
    margin: 0 !important;
}



/* Header11 styling*/
.na11 .nav-item .nav-link11{
    color: #1E0E62;
    font-size: 14px;
    font-weight: 500;
    font-family: DM Sans;
}
.navbar-brand{
color: #1E0E62 !important;
text-align: center;
font-size: 24px;
font-weight: 700;
font-family: DM Sans;
}
.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: DM Sans;
}
.section1 h2{
font-size: 48px;
font-weight: 700;
line-height: 70px;
color: #1E0E62;
width: 70%;
}
.section1 h5{
    width: 70%;
font-size: 16px;
font-weight: 500;
line-height: 32px;
color: #15143966;
}

.btn1{
    background: #25DAC5;
    border: none;
    border-radius: 30px;
    color: #ffffff;
    padding: 12px 26px;
    font-family: DM Sans;
}
.btn2{
    color: #1E0E62;
    border: none;
   background: #ffffff;
   padding: 12px 26px;
   font-family: DM Sans;
}
.buy{
    padding: 7px 20px;
    color: #fff;
    background: #482BE7;
    border-radius: 30px;
}
.about{
    color: #15143966;
}
.img1{
margin-top: 25px;
float: right;
}

/* header12 styling*/
.header12body{
    background: #2F1893;
    color: #ffffff;
    font-family: DM sans;
}
.header12{
    margin: 3% auto;
}
.header12section{
   display: flex;
   justify-content: center;
   align-self: center;

}
.header12section .header12content{
    width: 70%;
}

.header12section h2{
    font-size: 40px;
    font-family: DM Sans;
}
.header12section p{
    width: 65%;
    font-size: 16px;
    font-family: DM Sans;
}
.header12btn{
    background-color: #25DAC5;
    color:#fff;
    border-radius: 100px;
    padding: 10px 20px;
    border: none;
}

/* header13 styling */

.icons{
    display: flex;
    justify-content: start;
}
.header13{
    background:#1E0E62 url(./images/img2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position:center center;
}
.header13 .navbar-brand{
    color: #ffffff !important;
}
.btnStart{
    border-radius: 100px;
background:#482BE7;
font-size: 16px;
padding: 9px 16px;
font-weight: 500;
color: #fff;
border: none;
}
.row .box1{
    flex-direction: column;
  margin: 10% auto;
}

.box1 h1{
color: #FFF;
font-size: 72px;
font-weight: 700;
line-height: 90px;

}
.box1 h5{
color:  #FFF;
font-size: 22px;
font-weight: 500;
line-height: 40px;
}
.brand13{
    color: #ffffff;
}
.hr-lines:before{
    content:" ";
    display: block;
    height: 1px;
    width: 120px;
    position: absolute;
    top: 50%;
    left: 20%;
    background: rgba(21, 20, 57, 0.40);
  }
  .hr-lines{
    position: relative;
  }
  .hr-lines{
    position: relative;
    /*  new lines  */
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
  }
  .hr-lines:after{
    content:" ";
    height: 1px;
    width: 120px;
    background:rgba(21, 20, 57, 0.40);
    display: block;
    position: absolute;
    top: 50%;
    right: 20%;
  }
/* header14 styling*/
.header14{
    background-color: #2F1893;
}
.purchase,.learnmore{
    background: #E93A7D;
    border-radius: 100px;
    padding: 7px 20px;
    color: #fff;
    border: none;
}
.overview{
    color: #fff;
    opacity: 0.3;
}
.header14content{
    color: #fff;
}
.header14main{
    display: flex;
    align-items: center;
}
.header14content h2{
font-size: 46px;
font-weight: 700;
line-height: 70px;
width: 75%;
}
.header14content h5{
color: #FFF;
font-size: 18px;
font-weight: 500;
line-height: 32px;
width: 60%;
}
.section14{
    margin: 5% auto;
}
/* header14 form styling*/
.formclass{
width: 450px;
height: 500px;
background: #ffffff;
float:right;
border-radius: 10px;
padding: 20px 0;
}
.formclass h3{
    padding: 12px 0;
    color:#1E0E62;
    font-size: 42px;
}
input[type=email],
input[type=password] {
    width: 306px;
    padding: 12px 0 12px 24px;
    color:#151439;
    border-radius: 20px;
    border:2px solid #ebeaed;
    outline: none;
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 500;
}
.label{
    font-size: 14px;
    color:#151439;
    opacity: 0.8;
    line-height: 26px;
}
input[type=checkbox]{
    height: 14px;
    width: 14px;
    cursor: pointer;
    accent-color: green;
}
.signIn14, .LoginIn14{
    width: 306px;
    border-radius: 100px;
    padding: 12px 0;
    border: none;
color: #ffffff;
}
.signIn14{
    background: #482BE7;
}
.LoginIn14{
    background:  #1DA1F2;
}
.side{
    display: flex;
    justify-content: center;
    font-weight: 500;
}
.formclass p{
color: rgba(21, 20, 57, 0.40);
}
.signinlink{
    color: #25DAC5;
}

/* header15 styling */
.maincontent15{
margin: 8% auto;
}
.maincontent15 h2{
    color:#1E0E62;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
}
.maincontent15 h5{
 color: rgba(21, 20, 57, 0.40);
font-size: 18px;
font-weight: 500;
line-height: 32px;
}
.maincontent15 .createAcct{
    background: #E93A7D;
    border-radius: 100px;
    padding: 7px 20px;
    color: #fff;
    border: none;
}

.btn15-1{
    color:  #25DAC5;
    font-size: 16px;
    border: none;
    border-radius: 100px;
    background: #fff;
}
.btn15-2{
    color:#FFF;
font-size: 18px;
font-weight: 500;
background: #25DAC5;
border: none;
padding: 6px 18px;
border-radius: 100px;
}
.overall-imgcard-section{
    display: flex;
    justify-content: space-between;
    margin: 5% auto;
}
.text-p{
    width: 100%;
    margin: auto;
}
.imgText{
    color: rgba(21, 20, 57, 0.40);   
}
.navbar-nav .nav-item .nav-link15{
    color: rgba(21, 20, 57, 0.40) !important;   
    list-style-type: none;
}
.divider1{
    border-left:2px solid rgba(21, 20, 57, 0.40);   
    height: 110px;
    position: absolute;
    left: 30%;
    bottom: 52%;
}
.divider2{
    border-left:2px solid rgba(21, 20, 57, 0.40);   
    height: 110px;
    position: absolute;
    left: 70%;
    bottom: 52%;
}





@media screen and (max-width: 650px){
    .btnStart{
        position: absolute;
        top: 12px;
        right: 85px;
        font-size: 12px;
        padding: 8px 10px;
    }
    .box1 h5{
        font-size: 18px;
    }
    .box1 h5{
        font-size: 50px;
    }
    .header13{
        height: 100vh;
        width: 100%;
    }
}

@media screen and (max-width: 992px){
    /* header11 */
    .section1 h5, .section1 h2{
        margin-bottom: 100%;
        width: 100%;
    }
    .greatThings{
        margin: 15% auto;
     width: 85%;
      text-align: center;
    }
    .img1{
        float: none;
        display: flex;
        justify-content: center; 
    } 
    .firstImg{
        max-width: 100%;
    }
    /* header12 */
 .header12content h2, .header12content p{
        text-align: center;
        width: 100%;
        margin-bottom: 10%;
    }
    .header12img{
        display: block;
        margin: auto;
        width: 300px;
        height: 500px;
    }
    .header12btn{
        display: block;
        margin: 0 auto;
        padding: 6px 8px;
    }


/* header13 */
    .header13{
        height: 120vh;
    }
    .box1 h5{
       line-height: 25px;
        font-size: 16px;
    }
    .box1 h1{
        font-size: 54px;
        line-height: 60px;
        margin-bottom: 5%;
    }
    .row .box1{
        margin: 10% auto;
    }
    .btnStart{
        position: absolute;
        top: 10px;
        right: 85px;
    }
    /* header14 */
    .header14content{
        width: 100%;
        text-align: center;
         margin-bottom: 15%;
    }
    .header14content h5, .header14content h2{
        width: 100%;
    }
    .header14main{
        width: 100%;
    }
    .mainform{
        display: flex;
        justify-content: center;
    }


    /* header 15 */
    .overall-imgcard-section{
    flex-direction: column;
    margin-top:10%;
    }
    .imgcard{
        display: block;
        margin: auto;
    }
    .mainImg{
        width: 250px;
    }
    .maincontent15 h2{
        font-size: 28px;
        line-height: 45px;
        margin-bottom: 8%;
    }
    .maincontent15 h5{
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 8%;
    }
    .imgcard{
        margin-bottom: 10%;
    }
    .divider1,.divider2{
        display: none;
    }
    
    


}


