 @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@200;300;400;500;900&family=Poppins:wght@200;300&display=swap');

body{
    box-sizing: border-box;
    font-family: "DMsans", sans-serif;
    margin: 0;
}
.row {
    margin: 0 !important;
}



/* Header11 */
.nav-link{
    color: #1E0E62 !important;
    font-size: 14px;
    font-weight: 500;
}
.navbar-brand{
color: #1E0E62 !important;
text-align: center;
font-size: 24px;
font-weight: 700;
}
.section1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section1 h2{
font-size: 48px;
font-weight: 700;
line-height: 70px;
color: #1E0E62;
width: 70%;
}
.section1 h5{
    width: 70%;
font-size: 16px;
font-weight: 500;
line-height: 32px;
color: #15143966;
}

.btn1{
    background: #25DAC5;
    border: none;
    border-radius: 30px;
    color: #ffffff;
    padding: 12px 26px;
}
.btn2{
    color: #1E0E62;
    border: none;
   background: #ffffff;
   padding: 12px 26px;
}
.buy{
    padding: 7px 20px;
    color: #fff;
    background: #482BE7;
    border-radius: 30px;
}
.about{
    color: #15143966;
}
.img1{
margin-top: 25px;
float: right;
}



/* header13 */
.nav13 li a{
    color: #fff !important;
}
.icons{
    display: flex;
    justify-content: start;
}
.header13{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./images/img2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position:center center;
}
.header13 .navbar-brand{
    color: #ffffff !important;
}
.btnStart{
    border-radius: 100px;
background:#482BE7;
font-size: 16px;
padding: 9px 16px;
font-weight: 500;
color: #fff;
border: none;
}
.row .box1{
    flex-direction: column;
  margin: 10% auto;
}

.box1 h1{
color: #FFF;
font-size: 72px;
font-weight: 700;
line-height: 90px;

}
.box1 h5{
color:  #FFF;
font-size: 22px;
font-weight: 500;
line-height: 60px;
}
.brand13{
    color: #ffffff;
}

@media screen and (max-width: 650px){
    .btnStart{
        position: absolute;
        top: 12px;
        right: 85px;
        font-size: 12px;
        padding: 8px 10px;
    }
    .box1 h5{
        font-size: 18px;
    }
    .box1 h5{
        font-size: 50px;
    }
    .header13{
        height: 100vh;
        width: 100%;
    }
}

@media screen and (max-width: 992px){
    .section1 h5, .section1 h2{
        margin-bottom: 100%;
        width: 100%;
    }
    .greatThings{
        margin: 15% auto;
     width: 85%;
      text-align: center;
    }
    .img1{
        float: none;
        display: flex;
        justify-content: center; 
    } 
    .firstImg{
        max-width: 100%;
    }
/* header13 */

    .box1 h5{
       line-height: 35px;
        font-size: 16px;
    }
    .box1 h1{
        font-size: 54px;
        line-height: 60px;
        margin-bottom: 5%;
    }
    .row .box1{
        margin: 10% auto;
    }
    .btnStart{
        position: absolute;
        top: 10px;
        right: 85px;
    }

}


